.mat-card-image {
    width: 182px;
    height: 268px;
    margin: auto;
    display: block;
}

.mat-card {
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: underline;
    color: white;
    margin-left: 0.3rem;
}